In [1]:
import pandas as pd

# Charger le fichier CSV avec low_memory=False
df = pd.read_csv('ACCELORAMTER.csv', low_memory=False)

In [3]:
df.columns

Index(['alx', 'aly', 'alz', 'glx', 'gly', 'glz', 'arx', 'ary', 'arz', 'grx',
       'gry', 'grz', 'Activity', 'subject'],
      dtype='object')

In [4]:
# Liste des colonnes à supprimer
columns_to_drop = ['alx', 'aly', 'alz', 'glx', 'gly', 'glz', 'grx', 'gry', 'grz', 'Activity', 'subject']

# Supprimer les colonnes
df = df.drop(columns=columns_to_drop)

In [5]:
df

            arx     ary       arz
0       -8.6499 -4.5781  0.187760
1       -8.6275 -4.3198  0.023595
2       -8.5055 -4.2772  0.275720
3       -8.6279 -4.3163  0.367520
4       -8.7008 -4.1459  0.407290
...         ...     ...       ...
1215740 -3.7198 -8.9071  0.294230
1215741 -3.7160 -8.7455  0.448140
1215742 -3.8824 -9.1155  0.450480
1215743 -3.5564 -9.1441  0.594880
1215744 -3.9035 -8.9324  0.761710

[1215745 rows x 3 columns]

In [6]:
# Enregistrer dans un nouveau fichier CSV
df.to_csv('ACCEl.csv', index=False)